/*
 * Animations for donation scrolling
 * Stored separately as it involves keyframes
 */

.scroll-text {
  text-align: right;
  animation: scroll-animation 30s linear infinite;
  animation-iteration-count: infinite;
  text-overflow: clip;
  overflow: visible;
  white-space: nowrap;
}

.scroll-text-donation:nth-child(odd) {
  margin-right: 3rem;
}

.scroll-text-donation:nth-child(even) {
  margin-right: 8rem;
}


@keyframes scroll-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}