/* Colours
 * Define colour variables to reuse across website
 */
:root {
  --main-bg-colour: #fcfcfc;
  --sec-bg-colour: #e8e8e8;
  --grey: #b0b0b0;
  --focus: #212121;
  --timberwolf: #dad7cdff;
  --sage: #a3b18aff;
  --fern-green: #588157ff;
  --hunter-green: #3a5a40ff;
  --brunswick-green: #344e41ff;
  --link: #1d70b8;
  --link-hov: #003078;
}

/* Components */
input {
  background-color: var(--sec-bg-colour);
  border: 2px solid var(--grey);
  padding: 0.4rem;
  border-radius: 5px;
}

button {
  background-color: var(--sec-bg-colour);
  border: 2px solid var(--grey);
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
}

button[type=submit] {
  color: black;
  background-color: var(--sage);
}

button:hover, input:hover {
  filter: brightness(0.9);
}

button:focus-visible, input:focus-visible, a:focus-visible {
  outline: 3px solid white;
  box-shadow: 0 0 0 6px var(--focus);
}

input[type=radio] {
  border: 2px solid black;
  color: black;
}

input[type=radio]:focus-visible {
  outline: 3px solid black;
  box-shadow: none;
}

button:active {
  background-color: var(--fern-green);
  border: 2px solid var(--hunter-green);
  color: white;
}

a:visited {
  color: #6a17b9;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hov);
  text-decoration-thickness: 2px;
}

form {
  background-color: var(--sec-bg-colour);
  padding: 1.5rem 1.5rem;
}

/* Layout */
html, body {
  height: 100%;
}

body {
  background-color: var(--main-bg-colour);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.main-content > main {
  margin: 2rem 0;
}

/* Header layout */
header.top-header {
  background-color: var(--hunter-green);
}

.header-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  row-gap: 1rem;
}

.header-logo {
  padding: 1.25rem 1.25rem 1.25rem 0;
}

.nav-links {
  display: flex;
  flex-flow: row wrap;
  row-gap: 1rem;
  column-gap: 1.25rem;
  list-style: none;
  padding: 0;
}

.header-links a {
  color: var(--sec-bg-colour);
  text-decoration-line: none;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.header-links a:hover {
  filter: brightness(1.25);
}

/* Donation alerts */
.donation-alerts {
  overflow: hidden;
  background-color: var(--sage);
  padding: 0.3rem 0;
}

.donation-alerts * {
  color: var(--focus);
}

.donation-form label, .donation-form input[type=text] {
  display: block;
}

.donation-form > *, .donation-form fieldset > * {
  margin: 0.5rem 0;
}

/* Footer layout */
.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 3px solid var(--sage);
  background-color: var(--hunter-green);
}

.footer-content {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  margin: 1.5rem 0;
}

div.footer-content * {
  color: var(--sec-bg-colour);
}

.footer-content-logo {
  flex: 0 0 64px;
}

.footer-content-links > *:not(:last-child) {
  margin-right: auto;
}

.footer-content-links {
  display: flex;
  flex: 2 1 auto;
  flex-flow: row wrap;
  row-gap: 1.25rem
}

.social-media-link {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

/*
 * Media queries for responsive design
 * Using the default bootstrap endpoint sizes as these are most common
 */

/* Extra small */
@media only screen and (max-width: 576px) {
  .main-content > main, .header-content, .footer-content {
    min-width: 100%;
  }
}

/* Small */
@media screen and (min-width: 576px) {
  .main-content > main, .header-content, .footer-content {
    min-width: 80%;
  }
}

/* Medium */
@media screen and (min-width: 768px) {
  .main-content > main, .header-content, .footer-content {
    min-width: 75%;
  }
}

/* Large */
@media screen and (min-width: 992px) {
  .main-content > main, .header-content, .footer-content {
    min-width: 70%;
  }
}

/* Extra Large */
@media screen and (min-width: 1200px) {
  .main-content > main, .header-content, .footer-content {
    min-width: 65%;
  }
}

/* Extra extra large */
@media screen and (min-width: 1400px) {
  .main-content > main, .header-content, .footer-content {
    min-width: 60%;
  }
}
