/* Colours
 * Define colour variables to reuse across website
 */
:root {
  --main-bg-colour: #fcfcfc;
  --sec-bg-colour: #e8e8e8;
  --grey: #d7d7d7;
  --mid-grey: #969696;
  --focus: #212121;
  --timberwolf: #dad7cdff;
  --sage: #a3b18aff;
  --fern-green: #588157ff;
  --hunter-green: #3a5a40ff;
  --brunswick-green: #344e41ff;
  --link: #1d70b8;
  --link-hov: #003078;
}

/* Custom fonts used */
@font-face {
  font-family: 'Lilita One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(LilitaOne-Regular.ttf);
}

/* Standard Components */
/* Form components */
input, textarea {
  display: block;
  background-color: var(--grey);
  border: 2px solid var(--mid-grey);
  padding: 0.4rem;
  border-radius: 5px;
}

input[type=radio], input[type=checkbox] {
  display: inline-block;
  border: 2px solid black;
  color: black;
}

input[type=radio]:focus-visible {
  outline: 2px solid black;
  box-shadow: none;
}

button {
  background-color: var(--sec-bg-colour);
  border: 2px solid var(--grey);
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
}

button[type=submit] {
  color: black;
  background-color: var(--sage);
  border-color: var(--focus);
}

button:hover, input:hover {
  filter: brightness(0.9);
}

button:active {
  background-color: var(--fern-green);
  border: 2px solid var(--hunter-green);
  color: white;
}

button:focus-visible, input:focus-visible, textarea:focus-visible, a:focus-visible {
  outline: 2px solid white;
  box-shadow: 0 0 0 5px var(--focus);
}

/* Form items */
form {
  background-color: var(--sec-bg-colour);
  padding: 1.5rem 1.5rem;
}

fieldset legend {
  font-weight: 600;
}

/* Transparent form for single input purposes */
form.hidden-form {
  background-color: transparent;
  padding: 0;
  margin: 1rem 0;
}

.form-required {
  color: darkred;
}

/* Anchor tags */
a:visited {
  color: #6a17b9;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hov);
  text-decoration-thickness: 2px;
}

/* Anchor tags that look like buttons */
a.anchor-button {
  display: inline-block;
  border: 2px solid var(--fern-green);
  padding: 0.15rem 0.8rem;
  border-radius: 5px;
  background-color: var(--brunswick-green);
  color: var(--grey);
}

a.large-anchor-button {
  padding: 0.5rem 1.6rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration-line: none;
}

a.grey-anchor {
  background-color: var(--timberwolf);
  color: var(--focus);
  border-color: var(--mid-grey);
}

a.grey-anchor:hover {
  filter: brightness(1.1);
}

/* Table components */
table {
  text-align: left;
  vertical-align: top;
  border: 2px solid var(--focus);
  border-collapse: collapse;
}

table caption {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

thead {
  background-color: var(--sage);
}

tbody {
  background-color: var(--sec-bg-colour);
}

th, td {
  padding: 0.5rem;
  font-weight: 400;
  border: 2px solid var(--focus);
}

th[scope=row] {
  font-weight: 700;
}

/* Utility rules */
.hidden-text {
  display: none;
}

.bold-text {
  font-weight: bold;
}

.inset-text {
  border-left: 4px solid var(--grey);
  padding-left: 15px;
}

/* Add margin to standard text */
/* Using main avoids affecting CSS in header and footers */
main p, main h2 {
  margin-bottom: 1rem;
}

/*
 * Layout of all pages
 */
html, body {
  height: 100%;
}

body {
  background-color: var(--main-bg-colour);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.main-content > main {
  margin: 2rem 0;
  /*flex: 1 0;*/
}

main h1 {
  margin-bottom: 1rem;
}

/* Header layout */
header.top-header {
  background-color: var(--hunter-green);
}

.header-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem 0;
}

.header-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  row-gap: 1rem;
}

/* Links on header */
.header-links {
  width: 100%;
  align-items: flex-end;
}

.header-logo a {
  display: flex;
  align-items: center;
  color: var(--sec-bg-colour);
  text-decoration-line: none;
  font-weight: 700;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  flex-flow: row wrap;
  row-gap: 1rem;
  column-gap: 1.5rem;
  list-style: none;
  padding: 0;
}

/* Pushes links after to right side of header */
.right-nav-links {
  margin-right: auto;
}

.header-content a {
  color: var(--sec-bg-colour);
  text-decoration-line: none;
  font-weight: bold;
  font-size: 1.3rem;
}

.header-content a:hover, .anchor-button:hover {
  filter: brightness(1.25);
}

/* Footer layout */
.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 3px solid var(--sage);
  background-color: var(--hunter-green);
}

.footer-content {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  margin: 1.5rem 0;
}

div.footer-content * {
  color: var(--sec-bg-colour);
}

.footer-content-logo {
  flex: 0 0 64px;
}

.footer-content-links > *:not(:last-child) {
  margin-right: auto;
}

.footer-content-links {
  display: flex;
  flex: 2 1 auto;
  flex-flow: row wrap;
  row-gap: 1.25rem
}

.social-media-link {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

/* Donation banner */
.donation-alerts {
  overflow: hidden;
  background-color: var(--sage);
  padding: 0.3rem 0;
}

/* Set donation banner text colour */
.donation-alerts * {
  color: var(--focus);
}

/* Donation form page */
.donation-form label {
  display: block;
}

.donation-form > *, .donation-form fieldset > * {
  margin: 0.5rem 0;
}

.donation-form input, .donation-form textarea {
  margin: 0.25rem 0;
}

.donation-form textarea {
  width: 14rem;
}

.donation-type {
  font-weight: normal;
}

/* Pets page */
ul.list-pets {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  row-gap: 2rem;
  /*column-gap: 2rem;*/
  list-style: none;
  padding: 0;
}

ul.list-pets li {
  display: flex;
  flex-flow: nowrap column;
  max-width: calc(50% - 2rem);
  /*margin: 1rem;*/
  padding: 1rem;
  border: var(--focus) 2px solid;
}

ul.list-pets li > * {
  margin: 0.25rem 0;
}

ul.list-pets li > table {
  margin-bottom: 0.75rem;
}

ul.list-pets li > a.anchor-button {
  margin-top: auto;
}

.pet-title-image {
  display: flex;
  flex-flow: nowrap column-reverse;
  row-gap: 0.5rem;
}

.pet-title-image h2 {
  margin: 0;
}

.pet-details {
  background-color: transparent;
  width: 100%;
  padding: 0;
}

.pet-details tbody {
  background-color: transparent;
}

.pet-details th, .pet-details td {
  width: 50%;
}

/* Contact us page */
.contact-us {
  margin: 1rem 0;
}

.contact-us > h2 {
  margin-bottom: 0.5rem;
}

.google-maps-embed {
  margin: 1rem 0;
}

.google-maps-embed iframe {
  max-width: 280px;
}

.google-maps-embed p {
  margin: 0.5rem 0;
}

/* About us page */
.about-us h3 {
  margin-bottom: 1rem;
}

.center-img {
  display: flex;
  justify-content: center;
  margin: 1rem;
  text-align: center;
}

/* News page */
.news-article {
  background-color: var(--sec-bg-colour);
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.news-article-img {
  display: flex;
  justify-content: center;
}

.news-article-img img {
  width: 100%;
}

/* Home page */
.main-title {
  font-family: "Lilita One", serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: var(--focus);
}

.main-title-subtitle {
  font-size: 1.5rem;
  color: var(--focus);
}

.secondary-title {
  font-family: "Lilita One", serif;
  font-size: 2.5rem;
  color: var(--focus);
}

/* Top to bottom banner */
.reverse-header-img {
  display: flex;
  flex-flow: column-reverse nowrap;
  row-gap: 1rem;
}

.top-banner-img {
  width: 50%;
}

/* Side to side banner */
.sideways-banner {
  display: flex;
  flex-flow: row wrap-reverse;
  margin-bottom: 3rem;
  column-gap: 2rem;
}

.sideways-banner-reverse {
  flex-direction: row-reverse;
}

.sideways-banner-text {
  width: calc(50% - 2rem);
  flex: 1 0 auto;
}

.sideways-banner-text > h1 {
  margin-bottom: 0.5rem;
}

.sideways-banner-text > p {
  margin-bottom: 2rem;
}

.sideways-banner-img {
  width: 100%
}

/* Side by side articles */
.adjacent-articles {
  display: flex;
  flex-flow: row wrap;
  column-gap: 2rem;
  row-gap: 2rem;
}

.adjacent-article-title {
  display: flex;
  flex-flow: column-reverse nowrap;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
}

.adjacent-article {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: var(--sec-bg-colour);
}

.adjacent-article {
  color: black;
  text-decoration-line: none;
}

.adjacent-article:visited {
  color: inherit;
}

/*
 * Media query breakpoints for responsive design
 * Using the default bootstrap endpoint sizes as these are most common
 */

/* Extra small */
@media only screen and (max-width: 576px) {
  .main-content > main, .header-content, .footer-content {
    width: 90%;
  }

  ul.list-pets li {
    max-width: 100%;
  }

  .top-banner-img {
    width: 100%;
  }
}

/* Small */
@media screen and (min-width: 576px) {
  .main-content > main, .header-content, .footer-content {
    width: 80%;
  }

  .google-maps-embed iframe {
    max-width: 600px;
  }
}

/* Medium */
@media screen and (min-width: 768px) {
  .main-content > main, .header-content, .footer-content {
    width: 75%;
  }

  .sideways-banner-img {
    max-width: calc(50% - 2rem);
  }

  .adjacent-article {
    width: calc(33.33% - 2rem);
  }
}

/* Large */
@media screen and (min-width: 992px) {
  .main-content > main, .header-content, .footer-content {
    width: 70%;
  }
}

/* Extra Large */
@media screen and (min-width: 1200px) {
  .main-content > main, .header-content, .footer-content {
    width: 65%;
  }

  .news-article-img img {
    width: 50%;
  }
}

/* Extra extra large */
@media screen and (min-width: 1400px) {
  .main-content > main, .header-content, .footer-content {
    width: 60%;
  }
}
