/* Colours
 * Define colour variables to reuse across website
 */
:root {
  --main-bg-colour: #fcfcfc;
  --sec-bg-colour: #e8e8e8;
  --grey: #b0b0b0;
  --focus: #212121;
  --timberwolf: #dad7cdff;
  --sage: #a3b18aff;
  --fern-green: #588157ff;
  --hunter-green: #3a5a40ff;
  --brunswick-green: #344e41ff;
  --link: #1d70b8;
  --link-hov: #003078;
}

/* Components */
input {
  background-color: var(--sec-bg-colour);
  border: 2px solid var(--grey);
  padding: 0.4rem;
  border-radius: 5px;
}

button {
  background-color: var(--sec-bg-colour);
  border: 2px solid var(--grey);
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
}

button:hover, input:hover {
  filter: brightness(0.9);
}

button:focus-visible, input:focus-visible, a:focus-visible {
  outline: 3px solid white;
  box-shadow: 0 0 0 6px var(--focus);
}

input[type=radio] {
  border: 2px solid black;
  color: black;
}

input[type=radio]:focus-visible {
  outline: 3px solid black;
  box-shadow: none;

}

button:active {
  background-color: var(--fern-green);
  border: 2px solid var(--hunter-green);
  color: white;
}

a:visited {
  color: #6a17b9;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hov);
  text-decoration-thickness: 2px;
}

/* Layout */
html, body {
  height: 100%;
}

body {
  background-color: var(--main-bg-colour);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

body > footer {
  min-height: 80px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Header layout */
.nav-bar {
  display: flex;
  background-color: var(--hunter-green);
  flex-direction: row;
  row-gap: 1rem;
}

.nav-logo {
  padding: 1.25rem;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  row-gap: 1rem;
  column-gap: 1.25rem;
  flex-wrap: wrap;
  align-content: center;
  padding: 0;
}

.nav-links a {
  color: var(--sec-bg-colour);
  text-decoration-line: none;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.25rem;
}

.nav-links a:hover {
  filter: brightness(1.25);
}

/* Media queries for responsive design
 * Using the default bootstrap endpoint sizes as these are most common
 */

/* Extra small */
@media only screen and (max-width: 576px) {
  .main-content > main {
    min-width: 100%;
  }
}

/* Small */
@media screen and (min-width: 576px) {
  .main-content > main {
    min-width: 80%;
  }
}

/* Medium */
@media screen and (min-width: 768px) {
  .main-content > main {
    min-width: 75%;
  }
}

/* Large */
@media screen and (min-width: 992px) {
  .main-content > main {
    min-width: 70%;
  }
}

/* Extra Large */
@media screen and (min-width: 1200px) {
  .main-content > main {
    min-width: 70%;
  }
}

/* Extra extra large */
@media screen and (min-width: 1400px) {
  .main-content > main {
    min-width: 70%;
  }
}
